body {
    background: rgb(52, 57, 72);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    color: rgb(253, 255, 239);
}

h1 {
    color: rgb(253, 255, 239);
    font-size: 35px;
    margin: 30px;
    margin-top: 70px;
}

.gameboard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: rgb(66, 77, 96);
    box-shadow: 0px 20px 20px 30px rgba(0, 0, 0, 5%);
}

@media (max-width: 480px) {
    h1 {
        margin-top: 50px;
    }
    .gameboard {
        width: 380px;
        height: 380px;
    }
}

.gameRow {
    display: flex;
}

.gameSquares {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 70px;
    background-color: rgb(71, 81, 105);
    border-style: solid;
    border-color: rgba(131, 131, 131, 30%);
    border-width: 0.5px;
    color: rgb(253, 255, 239);
}

.gameLetter {
    font-size: 80px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

button {
    margin-top: 30px;
    width: 120px;
    height: 40px;
    background-color: rgb(111, 200, 101);
    border-style: solid;
    border-color: rgb(98, 179, 89);
    border-radius: 5px;
    font-size: 15px;
    font-weight: bolder;
    color: rgb(34, 34, 34);
    box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 10%);
}

button:hover {
    background-color: rgb(93, 170, 85);
    border-style: solid;
    border-color: rgb(82, 152, 75);
}

.winAnimate {
    animation-name: winAnimation;
    animation-duration: 4s;
}

.loseAnimate {
    animation-name: loseAnimation;
    animation-duration: 4s;
}

@keyframes winAnimation {
    0% {
        background-color: rgb(52, 57, 72);
    }
    10% {
        background-color: rgb(36, 110, 39);
    }
    60% {
        background-color: rgb(52, 57, 72);
    }
    100% {
        background-color: rgb(52, 57, 72);
    }
}

@keyframes loseAnimation {
    0% {
        background-color: rgb(52, 57, 72);
    }
    10% {
        background-color: rgb(110, 41, 36);
    }
    60% {
        background-color: rgb(52, 57, 72);
    }
    100% {
        background-color: rgb(52, 57, 72);
    }
}
